.container {
  display: flex;
  flex-direction: column;
  gap: 40px;

  .section_form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .descript {
      text-align: center;
      font-size: var(--font-h5);
      color: var(--color-third);
    }
  }
}
