.container {
  flex: 1;
  border: 1.5px solid #f4f6f9;
  box-sizing: border-box;
  border-top: 1px solid rgb(230, 230, 230);
  border-left: 1px solid rgb(230, 230, 230);
  border-right: 1px solid rgb(230, 230, 230);

  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;

  max-width: 480px;
  width: 100%;
  margin: 0px auto;

  display: flex;

  box-shadow: 0px 0px 50px rgba(90, 108, 234, 0.08);
}
