.container {
  width: 120px;
  height: 120px;
  background-color: var(--color-secondary);
  opacity: 0.7;

  border: none;
  border-radius: 50%;

  position: fixed;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;

  box-shadow: 12px 26px 50px rgba(90, 108, 234, 0.08);

  display: flex;
  justify-content: center;
  align-items: center;
}
