html,
body {
  -webkit-locale: "ko";
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  h1 {
    margin-top: 0px;
  }
  h2 {
    margin-top: 0px;
  }
  h3 {
    margin-top: 0px;
  }
  h4 {
    margin-top: 0px;
  }
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: bold;
  }
}

.App {
  max-width: 480px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid rgb(230, 230, 230);
  .hidden {
    display: none;
  }
}

:root {
  font-size: 15px;

  @media screen and (min-width: 481px) {
    --font-h1: 26px;
    --font-h2: 22px;
    --font-h3: 20px;
    --font-h4: 18px;
    --font-h5: 14px;
    --font-h6: 12px;
  }
  @media screen and (max-width: 480px) {
    --font-h1: 24px;
    --font-h2: 20px;
    --font-h3: 18px;
    --font-h4: 16px;
    --font-h5: 14px;
    --font-h6: 10px;
  }

  --color-primary: #3a7eff;
  --color-secondary: #eaf1ff;
  --color-third: #606b78;
}
